<p *ngFor="let persona of listaPersonas">
    <input type="radio" name="grupo2" [value]="persona"
    (change)=onCambioPersona(persona)>
    
    {{persona.nombre}}
    </p>
    <p>{{seleccionadoPersona?.nombre}}</p>
    <p>{{seleccionadoPersona?.apellidos}}</p>
    <p>{{seleccionadoPersona?.edad}}</p>


<p *ngFor="let elemento of lista">
<input type="radio" name="grupo" [value]="elemento"
(change)=onCambio(elemento)>

{{elemento}}
</p>
<p>{{seleccionado}}</p>

*************************************


<p *ngFor="let persona of listaPersonas">
    <input type="radio" name="grupo2" [value]="persona"
    (change)=onCambioPersona(persona)>
    
    {{persona.nombre}}
    </p>
    <p>{{seleccionadoPersona?.nombre}}</p>
    <p>{{seleccionadoPersona?.apellidos}}</p>
    <p>{{seleccionadoPersona?.edad}}</p>


***************

    <p *ngFor="let persona of listaPersonas">
        <input type="radio" name="grupo3" [value]="persona"
        (change)="seleccionadoPersona=persona">
        
        {{persona.nombre}}
        </p>
        <p>{{seleccionadoPersona?.nombre}}</p>
        <p>{{seleccionadoPersona?.apellidos}}</p>
        <p>{{seleccionadoPersona?.edad}}</p>
